<!DOCTYPE html>
<html lang="en">

@{
	var pageUrl = Context.Request.Path;
}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] | Kaelan Reece</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<meta name="description" content="@ViewBag.Description" />
	<meta name="title" content="@ViewBag.Title" />
	<meta name="keywords" content="@ViewBag.Keywords" />
</head>

<body>
	<header>
		<div class="nav-wrapper">
			<section id="header-image">
				<a class="nav-link @(pageUrl == "/" ? "active" : "")" asp-area="" asp-page="/Index">
					<img src="/Images/WolfLogo.png" id="header-icon" />
				</a>
			</section>
			<section id="header-name">
				<span>Kaelan Reece</span>
			</section>
			<nav class="navbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link @(pageUrl == "/" ? "active" : "")" asp-area="" asp-page="/Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link @(pageUrl == "/About" ? "active" : "")" asp-area="" asp-page="/About">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link @(pageUrl.Value.Contains("/Blog") ? "active" : "")" asp-area="" asp-page="/Blog">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	@RenderSection("Header")
	<main role="main">
		@RenderBody()
	</main>

	<footer>
		<div class="container">
			<section class="social-links">
				<a href="https://www.linkedin.com/in/kaelan-reece/">
					<object type="image/svg+xml" data="/Images/Social/linkedin.svg">
						Your browser does not support SVG
					</object>
				</a>
				<a href="https://github.com/KaeIan/">
					<object type="image/svg+xml" data="/Images/Social/github.svg">
						Your browser does not support SVG
					</object>
				</a>
				<a href="mailTo:kaelanreece@gmail.com">
					<object type="image/svg+xml" data="/Images/Social/mail.svg">
						Your browser does not support SVG
					</object>
				</a>
			</section>
			<section>
				&copy; Copyright Kaelan Reece 2021
			</section>
		</div>
	</footer>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
