<!DOCTYPE html>
<html lang="en">

@{
	var pageUrl = Context.Request.Path;
}

<head>
	<title>@ViewData["Title"] | Kaelan Reece</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="@ViewBag.Description" />
	<meta name="title" content="@ViewBag.Title" />
	<meta name="keywords" content="@ViewBag.Keywords" />
	<meta name="image" content="@ViewBag.Image" />
</head>

<script>
	// swap the theme and add selection to local storage.
	function setTheme() {
		let newTheme = document.body.className == "dark" ? "light" : "dark";
		window.localStorage.setItem("theme", newTheme);
		document.body.className = newTheme;
	}

	// update theme if preferrence changes.
	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
		// ignore theme updates when theme set in local storage.
		if (window.localStorage.getItem("theme")) {
			return;
		}
		const newColorScheme = e.matches ? "dark" : "light";
		document.body.className = newColorScheme;
	});

	// set theme prioritising local storage before preferred theme.
	window.addEventListener('DOMContentLoaded', (event) => {
		const localStorageTheme = window.localStorage.getItem("theme");
		let siteTheme  = "light";

		if (localStorageTheme) {
			siteTheme = localStorageTheme;
		} else if(window.matchMedia) {
			siteTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark" : "light";
		}

		document.body.className = siteTheme;
	});
</script>

<body>
	<header>
		<div class="nav-wrapper">
			<section>
				<section id="header-image">
					<a class="nav-link @(pageUrl == "/" ? "active" : "")" asp-area="" asp-page="/Index">
						<img src="/Images/WolfLogo.png" id="header-icon" />
					</a>
				</section>
				<section id="header-name">
					<span></span>
				</section>
			</section>
			<nav class="navbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link @(pageUrl == "/" ? "active" : "")" asp-area="" asp-page="/Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link @(pageUrl == "/About" ? "active" : "")" asp-area="" asp-page="/About">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link @(pageUrl.Value.Contains("/blog") ? "active" : "")" asp-area="" asp-page="/blog">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	@RenderSection("Header")
	<div id="theme-wrapper">
		<span id="theme" onClick="setTheme()"></span>
	</div>
	<main role="main">
		@RenderBody()
	</main>

	<footer>
		<div class="container">
			<section class="social-links">
				<a href="https://www.linkedin.com/in/kaelan-reece/" class="linkedin" target="__blank"></a>
				<a href="https://github.com/KaeIan/" class="github" target="__blank"></a>
				<a href="mailTo:kaelanreece@gmail.com" class="mail" target="__blank"></a>
			</section>
			<section>
				&copy; Copyright Kaelan Reece 2021
			</section>
		</div>
	</footer>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
