@page "/blog/{postTitle?}"
@model PersonalBlog.Pages.BlogModel
@using System.Web

@{
	ViewData["Title"] = Model.Blog.Title;
	ViewBag.Title = Model.Blog.Title;
	ViewBag.Keywords = string.Join(",", Model.Blog.Tags);
	ViewBag.Description = Model.Blog.Blurb;
}

@section Header{
	<section class="nav-background">
	</section>
}

<article>
	<section class="blog-body-container">
		<section class="blog-body">
			<section class="blog-info">
				<section class="blog-title">
					<h1>@Html.DisplayFor(model => model.Blog.Title)</h1>
				</section>
				<section class="blog-details">

					<img src="/Images/portrait.jpg" id="user-icon" alt="User Icon" />
					<p>
						By <a class="nav-link" asp-area="" asp-page="/about">Kaelan Reece</a> | Published on @Model.Blog.Published.ToString("MMMM dd, yyyy") | @Model.Blog.Length
						min read
					@if (Model.Blog.LastEdited != default && Model.Blog.LastEdited != null)
					{
						<span>- Edited @Model.Blog.LastEdited.ToString("MMMM dd, yyyy")</span>
					}
					</p>
				</section>
				<p>@Model.Blog.Blurb</p>
			</section>
			<img src="/Images/Blogs/@Model.Blog.Path/header.png" class="blog-header-image" />

			@Html.Raw(Model.Blog.Content)
			<hr>
			<section>
				<section class="author-info">
					<img src="/Images/portrait.jpg" id="user-icon-large" alt="User Icon" />
					<section class="author-details">
							<a class="nav-link" asp-area="" asp-page="/about">
								<span class="author-name">Kaelan Reece</span>
							</a>
							<span class="author-title">Software Engineer</span>
					</section>
				</section>
				<section class="tags">
					@foreach (var tag in Model.Blog.Tags)
					{
					<a href="/blog?search=@HttpUtility.HtmlEncode(tag)" class="blog-tag">
						<span class="blog-tag">
							@tag
						</span>
					</a>
					}
					</section>
			</section>
		</section>
	</section>
</article>