@page "{postTitle?}"
@model BlogWebsite.Pages.BlogModel

@{
	ViewData["Title"] = Model.Blog.Title;
}

<article>
	<section class="blog-body-container">
		<section class="blog-body">
			<h1>@Html.DisplayFor(model => model.Blog.Title)</h1>
			<p>@Model.Blog.Blurb</p>

			<img src="/Images/portrait.jpg" id="user-icon" alt="User Icon" />
			<p>
				By Kaelan Reece | Published on @Model.Blog.Published.ToString("MMMM dd, yyyy") | @Model.Blog.Length
				minutes
			</p>
			<img src="/Images/Blogs/@Model.Blog.Path/header.jpg" />

			@Html.Raw(Model.Blog.Content)

			@if (!String.IsNullOrWhiteSpace(Model.Blog.ProjectUrl))
			{
				<a href="@Model.Blog.ProjectUrl">Project Url</a>
			}
		</section>
	</section>
</article>